.single-project-container {
  background-color: #fff;
  max-width: 900px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(160, 160, 160, 0.2),
    0 2px 8px 0 rgba(160, 160, 160, 0.2);
  margin: 4rem 3rem;
}

/*-----IMAGE-----*/

.project-img-container {
  max-height: 20rem;
  border-radius: 20px;
  margin: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(160, 160, 160, 0.2),
    0 2px 8px 0 rgba(160, 160, 160, 0.2);
  overflow: hidden;
}

.project-img-container img {
  transform: translateY(0);
  width: 100%;
  object-fit: cover;
  transition: transform 10s ease;
}

.project-img-container:hover img {
  transform: translateY(-80%);
}

/*-----TEXT-----*/

.description-section {
  margin: 2rem;
}
.description-section h2 {
  text-align: center;
}

/*-----BUTONS-----*/

.btn-section {
  display: flex;
  justify-content: center;
}

.git-btn,
.demo-btn {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
  color: var(--primaryText);
  cursor: pointer;
  outline: 0px solid var(--accent);
  border-radius: 20px;
}

.btn-section span {
  font-family: 'Mulish';
}

.btn-section a {
  text-decoration: none;
}

.git-btn:hover,
.demo-btn:hover {
  outline: 2px solid var(--accent);
  transition: 100ms ease-in;
}

/*-----MEDIA-----*/

@media screen and (max-width: 550px) {
  .project-img-container:hover img {
    transform: translateY(-70%);
  }
}
